.filter-block {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: aliceblue;
  border-radius: 12px;
  gap: 12px;
  justify-content: center;
}

.input {
  padding: 12px 15px;
  border-radius: 12px;
  background-color: aliceblue;
  border: none;
}
